


.navbar {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    
    overflow: hidden;
}

/* Links da barra */
.navbar a {
    color:white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Cor do link ao passar o mouse */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Estilos para o item ativo */
.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

img{

    border-radius: 10px;
}
